.idea/
venv/
islearn/__pycache__/
islearn/tests/__pycache__/
islearn/tests/subject_languages/__pycache__/
dist/
src/islearn.egg-info/
.eggs/
.tox/
tests/__pycache__/
.bash_history
.cache/
.local/
src/islearn/__pycache__/
src/islearn/isla_language/__pycache__/
