.idea/
venv/
dist/
src/islearn.egg-info/
.eggs/
.tox/
tests/__pycache__/
.bash_history
.cache/
.local/
src/islearn/__pycache__/
src/islearn/isla_language/__pycache__/
evaluations/dot/inputs/
evaluations/icmp/inputs/
evaluations/racket/inputs/
